<link rel="stylesheet" href="<%= staticPath('css/home.css')%>">
<link rel="stylesheet" href="<%= staticPath('css/_post.css')%>">
<link rel="stylesheet" href="<%= staticPath('css/_comment.css')%>">
<div class="container">
    <section id="feed-posts">
        <h1>BeSocial/<%=title %></h1>
        <%if(locals.user){%>
        <div id="form-controll">
            <form action="/posts/create" id="new-post-form" method="post" enctype="multipart/form-data">
                <textarea name="content" cols="30" rows="4" placeholder="Type here ...." id="input" ></textarea>
                <input type="file" name="image" title="Upload a Profile Picture" id="image">
                <input type="submit" value="Post">
            </form>
        </div>
        <%}%>

        <div id="post-list-container">
            <ul id="post-ul">
                <% for(post of posts){%>
                <%- include('_post')%>
                <%}%>
            </ul>
        </div>
    </section>

    <section id="user-friends">
        <%if(locals.user){%>
            <div class="friends">
                <h1>Friends</h1>
                <% for(friend of user.friends){%>
                    <p><a href="users/profile/?id=<%= friend.id%>"><%= friend.name%></a></p>
                <%}%>
            </div>
            <div class="users" style="margin-top: 5rem;">
                <h1>Users</h1>
                <% for(u of allUser){%>
                    <p><a href="users/profile/?id=<%= u.id%>"><%= u.name%></a></p>
                <%}%>
            </div>
        <%}%>
    </section>
    <div class="menu-bar">
        <i class="bi bi-three-dots-vertical"></i>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
<script src="<%= staticPath('js/home_comment.js')%>"></script>
<script src="<%= staticPath('js/home_post.js')%>"></script>
<script src="<%= staticPath('js/toggle_like.js')%>"></script>
<script src="<%= staticPath('js/script.js')%>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<%if(locals.user){%>
    <script>
        createPost('<%= locals.user.email %>');
    </script>
<%}%>

