<link rel="stylesheet" href="<%= staticPath('css/home.css')%>">
<link rel="stylesheet" href="<%= staticPath('css/_post.css')%>">
<link rel="stylesheet" href="<%= staticPath('css/_comment.css')%>"
<link rel="stylesheet" href="<%= staticPath('css/_chat_box.css')%>">
<div class="container">
    <section id="feed-posts">
        <h1>BeSocial/<%=title %></h1>
        <%if(locals.user){%>
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" cols="30" rows="4" placeholder="Type here ...." required></textarea>
            <input type="submit" value="Post">
        </form>
        <%}%>

        <div id="post-list-container">
            <ul id="post-ul">
                <% for(post of posts){%>
                <%- include('_post')%>
                <%}%>
            </ul>
        </div>
    </section>

    <section id="user-friends">
        <%if(locals.user){%>
            <div class="friends">
                <h1>Friends</h1>
                <% for(friend of user.friends){%>
                    <p><a href="users/profile/?id=<%= friend.id%>"><%= friend.name%></a></p>
                <%}%>
            </div>
            <div class="users" style="margin-top: 5rem;">
                <h1>Users</h1>
                <% for(u of allUser){%>
                    <p><a href="users/profile/?id=<%= u.id%>"><%= u.name%></a></p>
                <%}%>
            </div>
        <%}%>
    </section>
    <div class="menu-bar">
        <i class="bi bi-three-dots-vertical"></i>
    </div>
</div>
<script>
    let postDate = $('.date');
    postDate.each(function(){
        let date = new Date(this.innerText);
        let opts = {
            month: 'short',
            day: 'numeric',
            year: 'numeric',
            hour: 'numeric',
            minute: 'numeric'
        }
        let modifiedDate = date.toLocaleString('default' , opts);
        this.innerHTML = modifiedDate;
    })
    let commentDate = $('.comment-date');
    commentDate.each(function(){
        let date = new Date(this.innerText);
        let opts = {
            month: 'short',
            day: 'numeric',
            year: 'numeric',
            hour: 'numeric',
            minute: 'numeric'
        }
        let modifiedDate = date.toLocaleString('default' , opts);
        this.innerHTML = modifiedDate;
    })
    $('.menu-bar').click(()=>{
        $('#user-friends').toggle();
    })
    
</script>
<script type="module" src="<%= staticPath('js/home_post.js')%>"></script>
<script type="module" src="<%= staticPath('js/home_comment.js')%>"></script>
<script type="module" src="<%= staticPath('js/toggle_like.js')%>"></script>
